@page "/Login"
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />

<div class="Login" style="background-color: #F0F0F0; padding: 30px; height: 100vh;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                <div class="text-center">
                    <div class="text-center" style="margin-bottom: 20px;">
                        <h1 style="font-family: 'Arial Black', sans-serif; font-size: 50px; color: #000000; letter-spacing: 2px;">
                            CLOTHIVA
                        </h1>
                    </div>

                    <h2 style="color: #000000;">Redefine your style with clothing that speaks to your individuality – crafted for those who dare to be authentic and stand out from the crowd.</h2>
                </div>
            </div>
            <div class="col-md-4 offset-md-2">
                <section>
                    <form id="account" method="post">
                        <div class="text-center">
                            <h2 style="color: #000000;">Login</h2>
                        </div>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.EmailorUserName" class="form-control" aria-required="true" placeholder="name@example.com" style="border: 1px solid #000000;" />
                            <label asp-for="Input.EmailorUserName" class="form-label" style="color: #000000;">Email/UserName</label>
                            <span asp-validation-for="Input.EmailorUserName" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" aria-required="true" placeholder="password" style="border: 1px solid #000000;" />
                            <label asp-for="Input.Password" class="form-label" style="color: #000000;">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="checkbox mb-3">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>

                        <div>
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg" style="background-color: #000000; color: #ffffff;">Login</button>
                        </div>

                        <div class="text-center mt-3">
                            <a id="forgot-password" asp-page="./ForgotPassword" style="color: #000000;">Forgot your password?</a>

                        </div>

                        <div class="text-center mt-2">
                            <p style="color: rgba(0, 0, 0, 0.40);">New to Clothiva? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" style="color: #000000;">Create your Clothiva account</a></p>
                        </div>
                    </form>

                    <p class="divider mt-4" style="color: rgba(0, 0, 0, 0.40); font-size: 20px;">Or, continue with:</p>

                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary" style="background-color: #000000; width: 100%;" name="provider" value="@provider.Name" title="Log in by using your @provider.DisplayName account">@provider.DisplayName</button>
                                    </div>
                                }
                            </p>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
