@using FashionStore.WebApp.ViewComponents

<div class="row">
    <div class="col-md-3">
        <img src="" />
    </div>
    <div class="col-md-9">
        <div class="item-information d-flex justify-content-between mb-3">
            <div class="inf-item d-flex flex-column align-items-md-start" style="gap: 4px;">
                <span class="item-name">@Model.ProductName</span>
                <div class="size-text">Size: <span class="large-text">@Model.SizeName</span></div>
                <div class="size-text">Color: <span class="large-text">@Model.ColorName</span></div>
            </div>
            <form method="post" asp-page-handler="RemoveItemFromCart">
                <input type="hidden" name="productId" value="@Model.ProductId" />
                <button type="submit">
                    <img src="/Images/RecycleBin.png" alt="Cart Recycle" class="icon-recyclebin" />
                </button>
            </form>
        </div>
        <div class="edit-item d-flex justify-content-between">
            <div class="price-item-cart">@Model.Unit @Model.Price</div>
            <div class="edit-quantity-item d-flex">
                <img src="~/Images/Minus.png" alt="Cart Minus" class="icon-select-cart" id="minus-btn" />
                <span>@Model.Quantity</span>
                <img src="~/Images/Plus.png" alt="Cart Plus" class="icon-select-cart" id="plus-btn" />
            </div>
        </div>
    </div>
</div>
