@page
@model CategoryModel
@{
	ViewData["Title"] = "Category";
}

<link rel="stylesheet" href="~/css/category.css" asp-append-version="true" />
<div class="container" style=" user-select: none;">
	<div class="in-line genre-ds">
		<a asp-controller="Home" asp-action="Category" asp-route-name="Home" class="select-text">Home</a>
		<div class="icon">
			<img src="/Images/Right.png" alt="Icon" class="icon-image">
		</div>
		<a asp-controller="Casual" asp-action="Category" asp-route-name="Casual" class="select-text">Casual</a>
	</div>

	<div class="row casual-category">
		<div class="col-md-3">
			<div class="filters-box">
				<div class="row-layout">
					<h1 class="header-text">Filter</h1>
					<div class="icon-select">
						<img src="/Images/Select.png" alt="Icon" class="icon-close">
					</div>
				</div>

				<div class="line"></div>

				@foreach (var category in Model.Categories)
				{
					<div class="row-layout">
						<div class="select-text">@category.Name</div>
						<div class="icon">
							<img src="/Images/Right.png" alt="Icon" class="icon-image">
						</div>
					</div>
				}

				<div class="line"></div>

				<div class="price">
					<div class="row-layout">
						<h1 class="header-text">Price</h1>
						<div class="icon">
							<img src="/Images/Up.png" alt="Icon" class="icon-image">
						</div>
					</div>
					<div class="price-slider">
						<div class="slider-track"></div>
						<div class="slider-range"></div>
						<div class="slider-handle" id="minHandle"></div>
						<div class="slider-handle" id="maxHandle"></div>
						<div class="price-values">
						</div>
						<div class="price-value" id="minPrice">$50</div>
						<div class="price-value" id="maxPrice">$200</div>
					</div>
				</div>

				<div class="line"></div>

				<div class="row-layout">
					<h1 class="header-text">Colors</h1>
					<div class="icon">
						<img src="/Images/Up.png" alt="Icon" class="icon-image">
					</div>
				</div>
				<div class="colors">
					@foreach (var color in Model.Colors)
					{
						<div class="circle" style="background-color: @color.HexCode; border: 1px solid #00000033;" onclick="selectColor(this)">
						</div>
					}
				</div>

				<div class="line"></div>

				<div class="row-layout">
					<h1 class="header-text">Size</h1>
					<div class="icon">
						<img src="/Images/Up.png" alt="Icon" class="icon-image">
					</div>
				</div>

				<div class="size">
					@foreach (var size in Model.Sizes)
					{
						<div class="size-box">@size.Name</div>
					}
				</div>

				<div class="line"></div>

				<div class="row-layout">
					<h1 class="header-text">Dress Style</h1>
					<div class="icon">
						<img src="/Images/Up.png" alt="Icon" class="icon-image">
					</div>
				</div>

				@foreach (var dressStyle in Model.DressStyles)
				{
					<div class="row-layout">
						<div class="select-text">@dressStyle.Name</div>
						<div class="icon">
							<img src="/Images/Right.png" alt="Icon" class="icon-image">
						</div>
					</div>
				}
				<a asp-controller="Home" asp-action="Filter" class="apply-filter">Apply Filter</a>
			</div>
		</div>


		<div class="col-md-9">
			<div class="d-flex show-ds mb-3 justify-content-between" style="margin-top: 24px;">
				<span class="name-ds">@Model.DressStyleName</span>
				<div class="d-flex align-items-center" style="gap: 10px;">
					<span class="classify">Showing 1-10 of 100 Products</span>
					<div class="classify-form d-flex align-items-center" style="gap: 8px;">
						<label>Sort by:</label>
						<select class="form-select sort-by w-auto fw-bold" style="border: none; padding-right: 0; margin-left: -10px;">
							<option>Most Popular</option>
							<option>Price (Low to High)</option>
							<option>Price (High to Low)</option>
						</select>
					</div>
				</div>

				<button class="circle-btn">
					<i class="fa-solid fa-sliders"></i>
				</button>
			</div>

			<div class="d-grid" style="grid-template-rows: repeat(3, 1fr); grid-template-columns: repeat(3, 1fr); gap: 15px;">
				@foreach (var product in Model.CategoryProducts)
				{
					<div class="grid-item">
						@await Component.InvokeAsync("ProductCard", product)
					</div>
				}
			</div>

			<div class="container-fluid my-3" style="padding: 0;">
				<hr class="my-3 w-100" style="border: 1px solid rgba(0, 0, 0, 0.1);">
			</div>

			<div class="d-flex justify-content-between">
				<button type="button" style="border: 1px solid rgba(0, 0, 0, 0.10); border-radius: 8px; background-color: #fff;">
					<i class="fa-solid fa-arrow-left me-2"></i>
					Previous
				</button>

				<ul class="pagination">
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li class="dots"><a href="#">...</a></li>
					<li><a href="#">8</a></li>
					<li><a href="#">9</a></li>
					<li><a href="#">10</a></li>
				</ul>

				<button type="button" style="border: 1px solid rgba(0, 0, 0, 0.10); border-radius: 8px; background-color: #fff;">
					Next
					<i class="fa-solid fa-arrow-right ms-2"></i>
				</button>
			</div>
		</div>
	</div>
</div>


<script src="~/js/Category.js" asp-append-version="true"></script>