@model FashionStore.WebApp.ViewComponents.ProductDetailViewModel

<div class="col-12 col-md-6">
    <div class="row">
        <div class="col-3 d-flex flex-column gap-14">
            @foreach (var photo in Model.Photos)
            {
                <div class="product-photo" data-photo="@photo"></div>
            }
        </div>

        <div class="col-9" style="padding-right: 0;">
            <div class="product-main-photo" id="main-photo"></div>
        </div>
    </div>
</div>

<div class="col-12 col-md-6">
    <div class="main-text-style">
        @Model.ProductName
    </div>

    <div class="star-rating">
        <div class="rating">
            @for (int i = 1; i <= 5; i++)
            {
                if (i <= Math.Floor(Model.Rating))
                {
                    <i class="fa fa-star checked"></i>
                }
                else if (i == Math.Ceiling(Model.Rating) && Model.Rating % 1 != 0)
                {
                    <i class="fa fa-star-half-alt checked"></i>
                }
                else
                {
                    <i class="fa fa-star"></i>
                }
            }
        </div>

        <div class="rating-container">
            <span class="rating-current">@Model.Rating</span>/<span class="rating-total">5</span>
        </div>
    </div>

    <div class="price-container">
        <span class="price-discount">$@Model.PriceDiscount</span>
        <span class="price-original">$@Model.PriceOriginal</span>
        <span class="discount">-40%</span>
    </div>

    <div class="describe">
        @Model.Description
    </div>

    <div class="divider"></div>

    <span class="select-colors">Select Colors</span>

    <div class="colors">
        @foreach (var color in Model.Colors)
        {
            <div class="circle" style="background-color: @color; border: 1px solid #00000033;" onclick="selectColor(this)">
            </div>
        }
    </div>

    <div class="divider"></div>

    <span class="select-colors">Choose Size</span>

    <div class="size">
        @foreach (var size in Model.Sizes)
        {
            <div class="size-box">@size</div>
        }
    </div>

    <div class="divider"></div>

    <div class="check-out">
        <div class="quantity-button">
            <button id="minus-button" class="icon-button">
                <img src="/Images/Minus.png" alt="Icon" class="icon-image">
            </button>

            <span id="quantity-display">1</span>

            <button id="plus-button" class="icon-button">
                <img src="/Images/Plus.png" alt="Icon" class="icon-image">
            </button>
        </div>

        <div class="add-to-cart">
            <span>Add to Cart</span>
        </div>
    </div>
</div>

