@using ProductVC

<link rel="stylesheet" href="~/css/ProductCard.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<a asp-page="/ProductDetailPage" asp-route-id="@Model.Id" style="text-decoration: none;">
    <div class="card custom-card">
        <img class="card-img-top" src="@Model.MainImageUrl">
        <div class="card-body">
            <h1 class="card-title">@Model.Name</h1>
            <div class="card-text">
                <div class="card-rate">
                    @for (int i = 1; i <= 5; i++)
                    {
                        if (i <= Math.Floor(Model.AvgRating))
                        {
                            <i class="fa fa-star" style="color: gold;"></i>
                        }
                        else if (i == Math.Ceiling(Model.AvgRating))
                        {
                            <i class="fa fa-star-half-alt" style="color: gold;"></i>
                        }
                        else
                        {
                            <i class="fa fa-star-o"></i>
                        }
                    }
                    <span>@Model.AvgRating.ToString("0.0")/5</span>
                </div>

                <div class="price-container">
                    @if (Model.DiscountId == null)
                    {
                        <span class="price-original-pc">@Model.Unit@Model.Price</span>
                    }
                    else
                    {
                        <span class="price-discount-pc">@Model.Unit@Model.DiscountedPrice</span>
                        <span class="price-original-pc">@Model.Unit@Model.Price</span>
                        <span class="discount-pc">-@Model.DiscountValue%</span>
                    }
                </div>
            </div>
        </div>
    </div>
</a>



